---
- name: "Play 1"
  hosts: localhost

  tasks:
    - name: "P1T1 - Collect Date Info"
      ansible.builtin.setup:
        filter:
          - "ansible_date_time"

    - name: "P1T2 - Save info as variable"
      ansible.builtin.set_fact:
        TD: "{{ ansible_date_time.date }}"

- name: "Play 2"
  hosts: all
  connection: network_cli

  tasks:
    - name: "Create a Diff Directory"
      ansible.builtin.file:
        path: "backup-config/diffs/{{ hostvars.localhost.TD }}"
        state: directory
      run_once: false

    - name: "Use NAPALM to Restore Backup Configs"
      napalm.napalm.napalm_install_config:
        hostname: "{{ ansible_host }}"
        username: "{{ ansible_user }}"
        password: "{{ ansible_password }}"
        dev_os: "{{ napalm_platform }}"
        config_file: "backup-config/backups/{{ hostvars.localhost.TD }}/running-configs/{{ inventory_hostname }}-running-config.txt"
        commit_changes: true
        replace_config: true
        get_diffs: true
        diff_file: "backup-config/diffs/{{ hostvars.localhost.TD }}/{{ inventory_hostname }}-diffs.txt"
        optional_args:
          global_delay_factor: 2
      register: result

    - name: "Print Result"
      ansible.builtin.debug:
        var: result
