{% if vlans.svis is defined %}
{% for item in vlans.svis %}
interface Vlan{{ item.vlan_id }}
 ip address {{ item.svi }}
{% endfor %}
{% endif %}

{% if vlans.interfaces is defined %}
{% for item in vlans.interfaces %}
interface {{ item.interface }}
 switchport mode {{ item.mode }}
{% if item.mode == 'access' %}
 switchport access vlan {{ item.vlan }}
{% endif %}
{% if item.mode == 'trunk' %}
 switchport trunk encapsulation dot1q
{% endif %}
{% endfor %}
{% endif %}